ansible/files/calendar-sync-test.json
{
  "nodes": [
    {
      "parameters": {
        "calendar": "n8n-work-calendar",
        "options": {}
      },
      "id": "Google Calendar Trigger",
      "name": "Google Calendar Trigger",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [200, 200],
      "credentials": {
        "googleApi": "google-calendar-work"
      }
    },
    {
      "parameters": {
        "calendar": "n8n-main-calendar",
        "start": "={{$json.start.dateTime}}",
        "end": "={{$json.end.dateTime}}",
        "summary": "={{$json.summary}}",
        "description": "={{$json.description}}"
      },
      "id": "Create Main Event",
      "name": "Create in Main",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [600, 100],
      "credentials": {
        "googleApi": "google-calendar-main"
      }
    },
    {
      "parameters": {
        "calendar": "n8n-side-calendar",
        "start": "={{$json.start.dateTime}}",
        "end": "={{$json.end.dateTime}}",
        "summary": "Dummy: {{$json.summary}}",
        "description": "Origem: work-calendar\n{{$json.description}}"
      },
      "id": "Create Dummy",
      "name": "Create Dummy",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "googleApi": "google-calendar-side"
      }
    }
  ],
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Create in Main",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "name": "Calendar Sync Example",
  "settings": {}
}
